/* color-main-black: #212121;
color-secondary: #757575;
color-blue: #2196F3;
color-white: #FFFFFF; */

/* main white background #F5F5F5; 
secondary black background #2F303A;
third background #F5F4FA;*/
:root {
  /* text color */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-blue-color: #2196f3;
  --white-color: #ffffff;

  /* background color */
  --main-white-background: #f5f5f5;
  --secondary-black-background: #2f303a;
  --third-background-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*-----------------HEADER Logo--------------------------------- */
.logo {
  color: var(--accent-blue-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo > span {
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}

.site-nav .link.current {
  color: var(--accent-blue-color);
}

.auth-nav .mail,
.auth-nav .tel {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .mail:hover,
.auth-nav .mail:focus,
.auth-nav .tel:hover,
.auth-nav .tel:focus {
  color: #2196f3;
}

/*-------------1 SECTION HERO----------------------------------------- */
.hero {
  background-color: var(--secondary-black-background);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-blue-color);
  color: var(--white-color);
}

/* secondary text color for all <p> */
.text {
  color: var(--secondary-text-color);
}

/* ----------------2 SECTION principles чому саме ми------------------ */
.principles-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.principles-text {
  font-size: 14px;
  line-height: 1.71;
}
/* ----------------3 SECTION EXAMPLES приклади робіт------------------ */
.examples-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* ----------------4 SECTION TEAM наша команда-----------------------  */
.team {
  background-color: var(--third-background-color);
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-item {
  background-color: var(--white-color);
}
/* --------------------------FOOTER----------------------------------- */
.footer {
  background-color: var(--secondary-black-background);
}
.footer-logo {
  color: var(--accent-blue-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer-logo > span {
  color: #ffffff;
}

.footer-address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-mail:hover,
.footer-tel:hover {
  color: #2196f3;
}
/* ------------------------------------------------CSS for Portfolio------------------------------------
--------------------------1 SECTON FILTER------------------------------------------- */
.button-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  border: none;
  background-color: var(--third-background-color);
  color: var(--primary-text-color);
}
.button-list:hover,
.button-list:focus {
  background-color: var(--accent-blue-color);
  color: var(--white-color);
}
/* -----------------------2 SECTION PORTFOLIO----------------------------------------------- */
.portfolio-main {
  background-color: var(--white-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
